.game {
  height: 100vh;
  display: flex;
  align-items: center;
  justify-content: center;
  perspective: 800px;
}

.bar {
  --body-height: 100px;
  --body-width: 100px;
  --body-length: 700px;
  --area-height: calc(var(--body-height));
  --area-width: calc(var(--body-width));
  --area-length: calc(var(--body-length) / 5);
  --pointer-height: var(--body-height);
  --pointer-width: var(--area-width);
  --pointer-length: 25px;
  transform-style: preserve-3d;
  transform: rotateX(10deg) rotateY(333deg);
  position: relative;
}
/* 
     ******   body styles   ******
*/

.bar__body {
  position: absolute;
  width: var(--body-width);
  height: var(--body-length);
  transform: translate(-50%, -50%);
  transform-style: preserve-3d;
}

.bar-body__side {
  position: absolute;
  background-color: #353535a8;
  box-shadow: inset 0 0 0px 1px #000;
}

.bar-body__side-bottom {
  height: var(--body-length);
  width: var(--body-width);
  top: 50%;
  transform: translateY(-50%);
  background-color: #000000bd;
}

.bar-body__side-top {
  height: var(--body-length);
  width: var(--body-width);
  top: 50%;
  transform: translateY(-50%) translateZ(var(--body-height));
  background-color: #0b0b0b40;
}

.bar-body__side-front {
  width: var(--body-width);
  height: var(--body-height);
  transform: translateY(-50%) rotateX(90deg) translateY(50%);
  background-color: #000000;
}

.bar-body__side-back {
  width: var(--body-width);
  height: var(--body-height);
  transform: translateY(50%) rotateX(90deg) translateY(50%);
  bottom: 0;
  background-color: #000000;
}

.bar-body__side-left {
  width: var(--body-height);
  height: var(--body-length);
  top: 50%;
  left: 0;
  transform: translateY(-50%) translateX(-50%) rotateY(90deg) translateX(-50%);
  background-color: #000000bd;
}

.bar-body__side-right {
  width: var(--body-height);
  height: var(--body-length);
  top: 50%;
  right: 0;
  transform: translateY(-50%) translateX(50%) rotateY(90deg) translateX(-50%);
  background-color: #0b0b0b40;
}

/* 
    ******  area styles   ******
*/

.bar__area {
  position: absolute;
  width: var(--area-width);
  height: var(--area-length);
  transform-style: preserve-3d;
  top: 10%;
}

.bar-area__side {
  position: absolute;
  background-color: #00e1ff2e;
  box-shadow: inset 0 0 100px 1px #59ebff26;
  transform-style: preserve-3d;
}

.bar-area__side-bottom {
  height: var(--area-length);
  width: var(--area-width);
  top: 50%;
  transform: translateY(-50%);
}

.bar-area__side-top {
  height: var(--area-length);
  width: var(--area-width);
  top: 50%;
  transform: translateY(-50%) translateZ(var(--area-height));
}

.bar-area__side-left {
  width: var(--area-height);
  height: var(--area-length);
  top: 50%;
  left: 0;
  transform: translateY(-50%) translateX(-50%) rotateY(90deg) translateX(-50%);
}

.bar-area__side-right {
  width: var(--area-height);
  height: var(--area-length);
  top: 50%;
  right: 0;
  transform: translateY(-50%) translateX(50%) rotateY(90deg) translateX(-50%);
}

/* 
    ******  area extra side styles  ******
*/

.bar-area-extra__side {
  position: absolute;
  background-color: #00eeff38;
  box-shadow: inset 0 0 100px 1px #5edbfd7a;
}

.bar-area-extra__side-bottom {
  height: calc(var(--area-length) - 10px);
  width: calc(var(--area-width) - 20px);
  top: 50%;
  left: 10px;
  transform: translateY(-50%) translateZ(10px);
}

.bar-area-extra__side-top {
  height: calc(var(--area-length) - 10px);
  width: calc(var(--area-width) - 20px);
  top: 50%;
  left: 10px;
  transform: translateY(-50%) translateZ(-10px);
}

.bar-area-extra__side-left {
  width: calc(var(--area-height) - 20px);
  height: calc(var(--area-length) - 10px);
  top: 50%;
  left: 10px;
  transform: translateY(-50%) translateZ(10px) rotateY(0deg);
}

.bar-area-extra__side-right {
  width: calc(var(--area-height) - 20px);
  height: calc(var(--area-length) - 10px);
  top: 50%;
  left: 10px;
  transform: translateY(-50%) translateZ(-10px) rotateY(0deg);
}

/* 
    ******  pointer styles  ******
*/

.bar__pointer {
  position: absolute;
  width: var(--pointer-width);
  height: var(--pointer-length);
  transform-style: preserve-3d;
  top: 60%;
}

.bar-pointer__side {
  position: absolute;
  background-color: #9fe9ff77;
  box-shadow: inset 0 0 100px 1px #ffe9cb98;
}

.bar-pointer__side-bottom {
  height: var(--pointer-length);
  width: var(--pointer-width);
  top: 50%;
  transform: translateY(-50%);
}

.bar-pointer__side-top {
  height: var(--pointer-length);
  width: var(--pointer-width);
  top: 50%;
  transform: translateY(-50%) translateZ(var(--pointer-height));
}

.bar-pointer__side-left {
  width: var(--pointer-height);
  height: var(--pointer-length);
  top: 50%;
  left: 0;
  transform: translateY(-50%) translateX(-50%) rotateY(90deg) translateX(-50%);
}

.bar-pointer__side-right {
  width: var(--pointer-height);
  height: var(--pointer-length);
  top: 50%;
  right: 0;
  transform: translateY(-50%) translateX(50%) rotateY(90deg) translateX(-50%);
}
