.countdown {
  pointer-events: none;
  position: fixed;
  z-index: 10000;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  display: flex;
  align-items: center;
  justify-content: center;
  transition: 0.25s ease-in-out;
  background-color: #00000066;
}

.countdown.hidden {
  opacity: 0;
}

.countdown-value {
  color: #00b4e3;
  font-weight: bold;
  font-size: xxx-large;
  font-family: sans-serif;
}
