.lockpick {
  --height: 200px;
  --pin-col-width: 20px;
  --current-pin: 1;
  --animation-duration: 3s;
  height: var(--height);
  width: -webkit-fit-content;
  width: -moz-fit-content;
  width: fit-content;
  padding-top: 0.5rem;
  border-radius: 2px;
  border: 1px solid #004f57;
  background-size: cover;
  background-repeat: no-repeat;
  background-image: url("../../assets/images/LockPick_texture.jpg");
}

.lockpick__row {
  position: relative;
  z-index: 2;
  display: flex;
  height: 50%;
  padding: 0 calc(var(--pin-col-width) / 2);
}

.lockpick__col {
  height: 100%;
  width: var(--pin-col-width);
  position: relative;
}

.lockpick__pin-col {
  --translateY: 1px;
  --min-translateY: 5px;
  border: 2px solid #d1b17f;
  border-bottom: none;
  border-radius: 1px 1px 0px 0px;
  box-shadow: inset 0px 4px 4px 1px #262626;
  background-color: #4b6362;
  background-size: 100% calc(66% + var(--translateY));
  background-repeat: no-repeat;
  background-image: url("../../assets/images/spring-coil.png");
}

.lockpick__pins {
  --radius-top: 5px;
  --radius-bottom: 3px;
  height: 66.666%;
  transform: translateY(100%) translateY(var(--translateY));
}

.lockpick__pin-col.animate {
  animation: columnBackgroundSliding var(--animation-duration) infinite
    ease-in-out;
}

@keyframes columnBackgroundSliding {
  50% {
    background-size: 100% calc(66% + var(--min-translateY));
  }
}

.animate .lockpick__pins {
  animation: pinSliding var(--animation-duration) infinite ease-in-out;
}

@keyframes pinSliding {
  50% {
    transform: translateY(100%) translateY(var(--min-translateY));
  }
}

.lockpick__pin {
  height: 50%;
  background-color: #f3be65;
  box-shadow: inset 0px 0px 2px #212121;
}

.lockpick__locking-pin {
  border-radius: var(--radius-top) var(--radius-top) var(--radius-bottom)
    var(--radius-bottom);
}

.lockpick__code-pin {
  border-radius: var(--radius-bottom) var(--radius-bottom) var(--radius-top)
    var(--radius-top);
}

.lockpick__keyhole {
  position: relative;
  z-index: 1;
  height: 45%;
  background: linear-gradient(180deg, #002d2c 0%, #004948 55.76%, #002d2c 100%);
}

.lockpick__picklock {
  --cols-count: calc(var(--current-pin) * 2);
  --img-offset: 2px;
  --half-height: 13px;
  --top: calc(var(--height) / 2 / 3 + var(--pin-height) - 2px);
  position: absolute;
  right: calc(var(--pin-col-width) * var(--cols-count) - var(--img-offset));
  top: var(--top);
  transform-origin: left top;
  transform: rotate(var(--angle-slide-out));
  animation: picklockSliding var(--animation-duration) infinite ease-in-out;
}

@keyframes picklockSliding {
  50% {
    transform: rotate(var(--angle-slide-in));
  }
}
