.unlock-label {
  display: flex;
  align-items: center;
  margin: 80px 0px 0px;
}

.unlock-label__img {
  width: 40px;
  height: 30px;
  background: url(../../assets/icons/space.svg),
    linear-gradient(180deg, #3994af, #00465b);
  background-position: 50% 70%;
  background-repeat: no-repeat;
  background-size: calc(100% - 5px), 100%;
  border: 3px solid #ccc;
  border-radius: 6px;
  padding: 5px;
  margin: 0px 5px 0px 0px;
  transition: 0.05s ease-in-out;
}

.unlock-label__img--active {
  transform: scale(0.9) translateY(1px);
}

.unlock-label__text {
  color: white;
  font-size: 20px;
}
