.tabs-table {
  width: 100%;
  border-spacing: 0;
}

.tabs-table__header {
  border-bottom: 1px solid #009dac;
  font-size: 20px;
}

.tabs-table__row {
}

.tabs-table__data,
.tabs-table__header {
  border-right: 1px solid #009dac;
  border-left: 1px solid #009dac;
  background-color: #009eac15;
  text-align: center;
  padding: 10px 0;
}

.tabs-table__data {
  font-size: 19px;
}

tbody {
  overflow: auto;
}
